.about
    &__items
        display: flex
        justify-content: center 
        flex-wrap: wrap
    &__item
        +col(3)
        +r(1024)
            +col(6)
        +r(612)
            +col(10)
    &__btn
        text-align: center
        margin-bottom: 11rem
.about-item
    text-align: center
    margin-bottom: 10rem
    &__circle
        width: 18.4rem
        height: 18.4rem
        border-radius: 50%
        background-color: $main-bgc
        color: $text-color
        display: inline-block
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        transition: all .4s
    &__title
        margin-top: 8.6rem
        font-size: 3rem
        line-height: 9.6rem
    &__descr
        margin-top: 4.8rem
        font-size: 1.8rem
        line-height: 3rem
        color: $text-color
    &__icon
        path
            transition: fill 0.4s
    &:hover
        cursor: pointer
        .about-item__circle
            background-color: $accent-color
        .about-item__icon
            path
                fill: #fff

